/* var.css */
:root {
  --vp-c-brand-1: #5880e4;
  --vp-c-brand-2: #3055a4;
  --vp-c-brand-3: #2b2984;
  --vp-custom-block-tip-bg: var(--vp-c-green-soft);
  --vp-button-brand-border: #64cae6e9;
  --vp-button-brand-text: #ffffff;
  --vp-button-brand-bg: #45ade9;

  --vp-button-brand-hover-border: #b98ce6e4;
  --vp-button-brand-hover-text: #fff;
  --vp-button-brand-hover-bg: #9a77ff;

  --vp-button-brand-active-border: #F6CEEC;
}

.dark {
  --vp-c-brand-1: #5880e4;
  --vp-c-brand-2: #3055a4;
  --vp-c-brand-3: #2b2984;
}
/* 以前的vp-c-brand已弃用 */



:root {
  /* hero标题渐变色 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe,
    #41d1ff
  );

  /*hero logo背景渐变色 */
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #3379c5 50%
  );
  --vp-home-hero-image-filter: blur(40px);
}



/* 也可自行单独修改brand按钮 */
/* :root {
  --vp-button-brand-border: #F6CEEC;
  --vp-button-brand-text: #F6CEEC;
  --vp-button-brand-bg: #D939CD;

  --vp-button-brand-hover-border: #F6CEEC;
  --vp-button-brand-hover-text: #fff;
  --vp-button-brand-hover-bg: #D939CD;

  --vp-button-brand-active-border: #F6CEEC;
} */
